{% extends "base.html" %} {% block content %}

<center>
  <form action="/transaction" method="POST">
    <label for="sender">Sender</label>
    <input type="text" name="sender" placeholder="Bitte Sender eintragen" />
    <label for="receiver">Empfänger</label>
    <input
      type="text"
      name="receiver"
      placeholder="Bitte Empfänger eintragen"
    />
    <label for="amount">Betrag</label>
    <input type="text" name="amount" placeholder="Bitte Betrag eingeben" />
    <button type="submit">Abschicken</button>
  </form>
</center>
{% endblock %}
